body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
}
.container-fluid{
    display: grid;
    height: fit-content;
    grid-template-rows: 800px 90% 100px;
}
.containerhead{
    display: grid;
    grid-template-rows: 80% 20%;
    border-radius: 10px;
}
.navbar{
    padding: 5px;
    margin: 20px;
}
.logo{
    height: 100px;
}
.fullogo{
    background-image: url(/img/hinh-anh-hon-mong-tay-phu-quoc-tuyet-dep_010925969.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.tencty{
    font-weight: 400px;
    float: right;
}
.containerbody{
    margin: 20px;
    display: grid;
    grid-template-columns: 65% 35%;
    height: fit-content;
    margin-bottom: 200px;
}
.noidung{
   background-color: aliceblue;
   padding: 50px;
}
.timkiem{
     margin-left: 50px;
}
.thanhtimkiem{
    background-color: aliceblue;
    padding: 30px;
}
.comment{
    align-items: center;
    height: fit-content;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 30px;
}
.containerfoot{
    background-color: white;
    height: fit-content;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 30px;
}

.textnav{
    font-size: larger;
    padding: 10px;
    font-weight: bold;
}
h1{
    text-align: center;
}
h1,h2,h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
p{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    padding: 40px;
    line-height: 1.5;
}
.anhcongty{
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 20px;
}
.anh1{
    width: 80%;
    height: auto;
    margin-left: 100px;
}
.anhphuquoc{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.anh2{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hinhthucpham{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.anh3{
    float: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
 h2{
    font-size: 40px;
    color: darkblue;
    font-weight: 20px;
 }
h1{
    font-size:40px;
    font-weight: 800;
}
.dau{
    margin-bottom: 30px;
    color:rgb(40, 40, 97);
    
}
.giua{
    margin:50px;
    color:rgb(40, 40, 97);
}
h3{
    font-size:30px;
    font-weight: 800;
}
.hinhminhhoa{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.picc{
    width: 90%;
    height: auto;
}
.huongdanvien{
     display: grid;
     grid-template-rows: 4% 24% 24% 24% 24%;
     height: fit-content;
     align-items: center;
     align-content: center;
}
.anhhuongdanvien{
    width: 90%;
    height: auto;
    margin-left: 30px;
    margin-top: 10px;
    border: 1px solid black;
}